<form  action="/" method="POST">
    <input type="file" class="filepond" name="filepond">
    <button class="button">Submit</button>
</form>

<!-- css loader -->
<!-- <center><div class="loader1"></div></center> -->
